@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: normal;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* Estilos generales para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 4px; /* Ancho de la barra de desplazamiento */
}

/* Estilo del track de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #18142f; /* Color del fondo del track */
}

/* Estilo del thumb de la barra de desplazamiento (la parte que se arrastra) */
::-webkit-scrollbar-thumb {
  background: #5183f4; /* Color del thumb */
  border-radius: 4px; /* Borde redondeado del thumb */
}

/* Cambia el color del thumb cuando se pasa el mouse sobre la barra */
::-webkit-scrollbar-thumb:hover {
  background: #5183f4; /* Color del thumb en estado de hover */
}


body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1;
  background-color: #18142f;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 0;
  background-color: #18142f;
  min-height: 100vh;
}

.sidebar {
  padding: 30px;
  background-color: #18142f;
}

.hamburguer {
  width: 25px;
}
.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 30px;
  padding: 5px;
  position: absolute;
  top: 34.5px;
  right: 18px;
  z-index: 1001; /* Para que esté sobre la barra lateral */
}

.bar {
  background-color: #333;
  width: 25px;
  height: 3px;
  transition: transform 0.3s, opacity 0.3s;
}

.sidebar {
  width: 250px;
  height: 100%;
  background-color: #18142f;
  position: fixed;
  top: 0;
  right: -250px;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}

.sidebar.open {
  right: 0;
  transform: translateX(0);
}

.sidebar.open + .menu-toggle .bar:nth-child(2) {
  opacity: 0; /* Oculta la barra del medio */
  transform: translateY(10px) rotate(45deg);
}

.sidebar.open + .menu-toggle .bar:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}

.sidebar.open + .menu-toggle .bar:nth-child(3) {
  transform: translateX(20px); /* Mueve la última barra a la derecha */
}


.profile {
  text-align: center;
  margin-bottom: 70px;
}

.profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 100rem;
  object-fit: cover;
  margin: 0 auto 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}
.profile-name {
  font-weight: 600;
  font-size: 18px;
  color: white;
  margin-bottom: 10px;
}

.menu-item {
  margin-bottom: 20px;
}
.menu-link {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
  font-size: 16px;
}
.menu-link:hover {
  color: #2b48d9;
}
.menu-icon {
  width: 20px;
  margin-right: 15px;
}

.main {
  padding: 30px 35px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.search {
  padding: 15px 30px;
  border: 1px solid #e9ebf2;
  border-radius: 100px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  height: 40px;
}

.search-icon {
  flex: 1;
  font-size: 16px;
}

.search-input {
  border: 0;
  outline: none;
  width: 100%;
  padding: 0 15px;
  background-color: transparent;
  color: white;
}

.search-container {
  background-color: #18142f;
  padding: 15px 30px;
  border: 1px solid #e9ebf2;
  border-radius: 100px;
}

.suggestion {
  padding: 10px;
  cursor: pointer;
  color: white;
}

.suggestion:hover {
  background-color: #2b48d9;
}

.search-suggestions {
  position: absolute;
  width: 30%;
  max-height:200px;
  overflow-y: auto;
  background-color: #18142f;
  border: none;
  border-radius: 10px;
  border-top: none;
  z-index: 1000;
  top: 12%;
  padding: 10px;
  scrollbar-width: 20%;
  scrollbar-color: #ffff #ffff;
}

.search-suggestions::-webkit-scrollbar-track {
  background: #18142f;
}

.search-suggestions::-webkit-scrollbar-thumb {
  background-color: #2b48d9;
  border-radius: 10px;
  border: 3px solid #18142f;
}

.search-suggestions::-webkit-scrollbar-thumb:hover {
  background-color: #5183f4;
}

.search-suggestion {
  padding: 10px;
  cursor: pointer;
  z-index: 9999;
}

.search-suggestion:hover {
  background-color: transparent;
}


.name-page {
  font-size: 23px;
  font-weight: 600;
  transform: translateX(72%);
}

.name-page a {
  color: white;
}

.tool {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.tool-icon {
  margin-right: 25px;
}

.tool a i {
  color: white;
}

.upgrade {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-align: center;
  background-color: #5183f4;
  border-radius: 50px;
  font-size: 12px;
  text-transform: capitalize;
}

.block-box {
  margin-bottom: 30px;
}

.heading {
  font-size: 25px;
  color: white;
  margin-bottom: 10px;
  font-weight: 600;
}

.count {
  font-weight: 600;
}



.billboard-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  margin-bottom: 40px;
}

.billboard-media {
  width: 215px;
  position: relative;
  transition: width 0.3s;
}

.billboard-media:hover {
  width: 270px;
}

.billboard-image {
  width: 100%;
  height: 270px;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 30px;
  position: relative;
  z-index: 2;
}

.billboard-image-shadow {
  position: absolute;
  top: 20px;
  left: 0;
  filter: blur(24px);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transform: scale(0.85);
}

.title {
  margin-bottom: 10px;
  color: white;
  font-weight: 600;
  text-transform: capitalize;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  line-height: 1.4;
}

.author {
  text-transform: capitalize;
  color: #a4adc8;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1.2fr;
  grid-gap: 25px;
  
}

.song {
  padding: 10px 20px;
  background-color: #231f44;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  width: 450px;
  margin: 0 8px;
}

.song *:not(.song-love) {
  pointer-events: none;
}

.song-list {
  padding: 10px;
  max-height: 420px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
display:flex;
 }

.song-list::-webkit-scrollbar {
  display: none;
}

.song-index {
  font-weight: bold;
  color: #a4adc8;
  margin-right: 15px;
}

.song-image {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  object-fit: cover;
  flex-shrink: 0;
}

.song-play {
  margin: 0 15px;
}

.song-title {
  font-weight: 600;
  font-size: 16px;
  color: white;
}

.song-album {
  
  font-weight: 400;
  font-size: 14px;
  margin-left: 20px;
  color: #a4adc8;
}

.song-time {
  margin: 0 auto;
  font-weight: 400;
  font-weight: 600;
  color: #a4adc8;
}

.song-love {
  position: absolute;
  cursor: pointer;
  font-size: 16px;
transform: translateX(2450%);
}
.song-love input {
  display: none;
}
.song-love input:checked + .song-heart {
  color: red;
}


.setting-container {
  height: 100vh;
  background-color: #231f44;
}

.settings {
  background-color: #231f44;
  padding: 20px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
  height: 120vh;
  position: fixed;
  top: 12%;
  z-index: 9999;
}

.settings-box {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  max-width: 300px;
  margin: 0 auto 30px;
}

/*SETTINGS SECTION*/

/* ... Estilos anteriores ... */

.sidebar-set {
  background-color: #231f44;
  color: white;
  width: 20%;
  height: 100vh;
  float: left;

}

.title-set {
  font-size: 32px;
  padding: 15px;
  margin-left:1.2rem ;
}

.sidebar-set nav ul {
  list-style: none;
  padding: 0;
  margin: 2rem 2rem;
  font-size: 17px;
  font-weight: 500;
}

.sidebar-set nav ul li {
  margin-bottom: 1rem;
}

.sidebar-set nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  margin-left: 2rem;
}

.user-profile {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #18142f;
  margin-top: 2rem;
}

.user-profile img {
  width: 120px;
  height: 120px;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: 1rem;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.premium-button {
  background-color: #1db954;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
margin-top: 0.5rem;
}

.logout-button {
  background-color: #d9534f;
  color: white;
  justify-content: space-between;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-left: auto; /* Hace que el botón se alinee a la derecha */
  margin-top: 0.5rem;
}

/*PROFILE SECTION*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #efefef;
}

.container-card{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card{
  position: relative;
  width: 400px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card:before{
  content: '';
  position: absolute;
  width: 100%;
  height: 270px;
  top: 0;
  left: 0;
  background-image: linear-gradient(to top, #00f2fe, #4facfe);
  clip-path: circle(400px at 50% -48.5%);
}

.header-card{
  position: relative;
  height: 265px;
}

.mail{
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 1.5rem;
  color: #fff;
  opacity: .8;
  transition: .3s;
  z-index: 3;
  text-decoration: none;
}

.mail:hover{
  opacity: 1;
}

.hamburger-menuu{
  position: absolute;
  width: 21px;
  height: 16px;
  top: 1.4rem;
  left: 1.9rem;
  z-index: 3;
  cursor: pointer;
  transition: .3s;
  opacity: .8;
}

.hamburger-menuu:hover{
  opacity: 1;
}

.hamburger-menuu .center{
  position: absolute;
  height: 2px;
  width: 70%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 1px;
}

.hamburger-menuu:before, .hamburger-menuu:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #fff;
}

.hamburger-menuu:before{
  top: 0;
}

.hamburger-menuu:after{
  bottom: 0;
}

.main-card{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-card .image{
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: url('img/profile.jpg') no-repeat center / cover;
  border: 4px solid #00d8fe;
  margin-bottom: 2px;
  overflow: hidden;
  cursor: pointer;
}

.main-card .image .hover{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(79, 172, 254, .7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: .5s;
  opacity: 0;
}

.main-card .image:hover .hover{
  opacity: 1;
}

.main-card .hover.active{
  opacity: 1;
}

.user-name{
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  line-height: 1;
  margin: 5px 0;
}

.sub-name{
  font-family: 'Cutive Mono', monospace;
  font-size: 1.2rem;
  opacity: .8;
  color: #fff;
}

.content-card{
  display: flex;
  padding: 1.7rem 2.5rem 2.6rem 2.5rem;
}

.right{
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: 2.1rem;
}

.number{
  font-size: 2.1rem;
  font-weight: 200;
  color: #333;
  line-height: 1.2;
}

.number-title{
  font-size: .55rem;
  color: #666;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.title-card{
  position: relative;
  color: #555;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 0 0 3px 0;
  margin-bottom: .9rem;
  display: inline-block;
}

.title-card:after{
  content: '';
  position: absolute;
  height: 3px;
  width: 50%;
  background-color: #555;
  bottom: 0;
  left: 0;
}

.text{
  color: #666;
  font-weight: 300;
  line-height: 1.7;
}

.icons-container{
  padding: 1rem 0;
}

.icon-card{
  color: #c4c4c4;
  font-size: 1.3rem;
  text-decoration: none;
  margin-right: 8px;
  transition: .3s;
}

.icon-card:hover{
  color: #4facfe;
}

.buttons-wrap{
  display: flex;
  margin-top: 5px;
}

.follow-wrap, .share-wrap{
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.follow-wrap:hover, .share-wrap:hover{
  flex: 5;
}

.follow{
  padding: 9.6px 0;
  width: 100%;
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 140%);
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: .7rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 18.1px;
  margin-right: 3px;
}

.share{
  padding: 7.6px 0;
  width: 100%;
  border: 2px solid #4facfe;
  color: #4facfe;
  text-decoration: none;
  text-align: center;
  font-size: .7rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 3px;
  border-radius: 18.1px;
}

.modal{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
  opacity: 0;
  transition: .5s;
}

.modal img{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.3);
  max-width: 100%;
  max-height: 100%;
  transition: .5s;
}

.modal.show{
  opacity: 1;
  z-index: 99;
}

.modal.show img{
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: .3s;
}

.close:hover{
  opacity: .5;
}

.close:before, .close:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  top: 50%;
  left: 50%;
  background-color: #fff;
}

.close:before{
  transform: translate(-50%, -50%) rotate(45deg);
}

.close:after{
  transform: translate(-50%, -50%) rotate(135deg);
}

@media (max-width: 410px){
  .content-card{
      flex-direction: column;
  }

  .right{
      flex-direction: row;
      text-align: center;
      justify-content: space-around;
      align-items: center;
      margin: 0;
  }
}

@media (max-width: 370px){
  .header-card{
      height: 230px;
  }

  .card:before{
      clip-path: circle(400px at 50% -74.5%);
      height: 230px;
  }

  .hamburger-menuu{
      width: 16px;
      height: 12px;
      top: 1.1rem;
      left: 1.5rem;
  }

  .mail{
      font-size: 1.1rem;
      top: .75rem;
      right: 1.5rem;
  }

  .main-card .image{
      width: 90px;
      height: 90px;
      border-width: 3px;
  }

  .user-name, .sub-name{
      font-size: 1rem;
  }

  .content-card{
      padding: 1.2rem 1.8rem 1.8rem 1.8rem;
  }

  .number{
      font-size: 1.8rem;
  }

  .number-title{
      font-size: .4rem;
  }

  .right{
      padding-top: 1rem;
  }

  .title-card{
      font-size: .9rem;
      margin-bottom: .5rem;
  }

  .text{
      font-size: .8rem;
  }

  .icons-container{
      padding: .5rem 0;
  }

  .icon-card{
      font-size: 1.1rem;
  }

  .follow{
      padding: 7.6px 0;
      border-radius: 14.6px;
      font-size: .6rem;
  }

  .share{
      padding: 5.6px 0;
      border-radius: 14.6px;
      font-size: .6rem;
  }
}

/* ... Estilos adicionales ... */

.player-container {
  height: 120vh;
  background-color: #231f44;
}

.player {
  background-color: #231f44;
  padding: 20px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
  height: 120vh;
  position: fixed;
  top: 12%;
}

.player-box {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  max-width: 300px;
  margin: 0 auto 30px;
}

.player-media {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 100rem;
  margin-bottom: 25px;
}
.player-media:before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.player-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.player-image.is-playing {
  animation: rotate 10s forwards infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.player-title.title {
  width: 100%;
  align-self: stretch;
}

.progress {
  margin-bottom: 20px;
  margin-top: 25px;
}

.player-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.player-tool {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-play {
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #5183f4;
  box-shadow: 0 0 0 4px white;
  font-size: 16px;
  margin: 0 30px;
}

.player-next,
.player-prev {
  cursor: pointer;
  font-size: 16px;
}

.progress {
  width: 100%;
  position: relative;
}

.bar {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: white;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 100rem;
  background-color: #5183f4;
  box-shadow: 0 0 0 2px #5183f4, 0 0 0 4px #5183f4;
}

.bar::-moz-range-thumb {
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 100rem;
  background-color: #2b48d9;
  box-shadow: 0 0 0 5px white, 0 0 0 6px #ccc;
}

@media screen and (max-width: 1279px) {
  .sidebar {
    display: none;
  }

  .wrapper {
    display: block;
  }

  .content {
    grid-template-columns: 100%;
    grid-row-gap: 50px;
  }

  .header {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 30px 0;
  }
}
@media screen and (max-width: 1023px) {
  .billboard-list {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 60%;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    padding: 20px;
    grid-template-columns: unset;
  }
  .billboard-list::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .billboard-list > * {
    scroll-snap-align: start;
  }

  .song-list {
    max-height: unset;
    overflow: unset;
    padding: 0;
  }

  .main {
    padding: 20px 20px 0;
  }

  .song-title,
.song-album {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    max-width: 100px;
  }

  .song-album {
    max-width: 50px;
  }

  .heading {
    font-size: 20px;
  }

  .title {
    font-size: 14px;
  }

  .author {
    font-size: 12px;
  }
}
